# Ignore compiled and build artifacts
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore specific files
**/src/main/java/vox/voxsheetsmanager/service/sheets/logger/LoggerConfig.java
**/src/main/resources/application.properties


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
app.log
app.log.1
app.log.1.lck
app.log.2
app.log.lck

### VS Code ###
.vscode/
